---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/Journey/Meta/Modes?app_id=TFL_APP_ID&app_key=TFL_APP_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - StopPointMeta
      X-Backend:
      - api
      X-Proxy-Connection:
      - unset
      X-Ttl:
      - '86400.000'
      X-Ttl-Rule:
      - '0'
      X-Operation:
      - Journey_Meta
      X-Api:
      - Journey
    body:
      encoding: ASCII-8BIT
      string: '[{"$type":"Tfl.Api.Presentation.Entities.Mode, Tfl.Api.Presentation.Entities","isTflService":false,"isFarePaying":true,"isScheduledService":false,"modeName":"black-cab-as-customer"},{"$type":"Tfl.Api.Presentation.Entities.Mode,
        Tfl.Api.Presentation.Entities","isTflService":false,"isFarePaying":false,"isScheduledService":false,"modeName":"black-cab-as-driver"},{"$type":"Tfl.Api.Presentation.Entities.Mode,
        Tfl.Api.Presentation.Entities","isTflService":true,"isFarePaying":true,"isScheduledService":true,"modeName":"bus"},{"$type":"Tfl.Api.Presentation.Entities.Mode,
        Tfl.Api.Presentation.Entities","isTflService":true,"isFarePaying[...]
